@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: '#ffffff';

  background: radial-gradient(circle at center, #525252, #383838, #212121);
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
